.quesiton_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #ffffff;
}

.container_qs1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-grow: 1;
}
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 0%;
}
.title-container {
  font-size: 36px !important;
  font-weight: bold;
  color: #a11212;
  margin-bottom: 40px;

  width: 430px;
  height: 90px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 160px;
  margin-top: 20px;
}

.card-wrapper {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-wrapper:hover {
  transform: scale(1.05);
}

.card {
  width: 330px;
  height: 247px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 30px;
  padding: 15px;
}

.card img {
  width: 78%;
  height: auto;
  border-radius: 50%;
}

.card p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  width: 200px;
  height: 56px;
}

.img_footer {
  margin-top: 200px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-size: cover;
}
@media (max-width: 768px) {
  .quesiton_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: auto;
  }
  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .container_qs1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex-grow: 1;
  }

  .title-container {
    font-size: 30px !important;
    font-weight: bold;
    color: #a11212;
    margin-top: 50px;
    width: 350px;
    height: 90px;
    margin-bottom: 50px;
  }

  .card-container {
    display: grid;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
    margin-top: 0px;
  }

  .card-wrapper {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .card-wrapper:hover {
    transform: scale(1.05);
  }

  .card {
    width: 330px;
    height: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;

    padding: 15px;
  }

  .card img {
    width: 65%;
    height: auto;
    border-radius: 50%;
  }

  .card p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    width: 200px;
    height: 56px;
  }

  .img_footer {
    margin-top: 0px;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-size: cover;
  }
}
